@(active: String)

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DS4</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li @if(active == "Главная") { class="active" }><a href="/">Главная</a></li>
        <li @if(active == "Вещества") { class="active" }><a href="/substances/all">Вещества</a></li>
        <li @if(active == "Продукты") { class="active" }><a href="/products/all">Продукты</a></li>
      </ul>
    </div>
  </div>
</nav>
